/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparment-color: #146077;
  --sec-pading: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.Special-heading {
  /* padding: 100px; */
  text-align: center;
}
.Special-heading h2 {
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  font-size: 40px;
  margin-top: 0px;
}
.Special-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
  z-index: -1;
}
.Special-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: white;
  bottom: -38px;
}
.Special-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: #777;
  line-height: 2;
}
/* End Components */
/* Start Header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 0;
}
header img {
  height: 30px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  nav .toggle-menu:hover + ul li a {
    padding: 15px;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transform: 0.3s;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  position: relative;
  z-index: 2;
}
header .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End Header  */
/* Start Ladding */
.ladding {
  position: relative;
  min-height: 100vh;
  background-image: url(../image/landing.jpg);
  background-size: cover;
}
.ladding .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.ladding .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: #17647bb6;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.ladding .text .content {
  max-width: 500px;
}
@media (max-width: 768px) {
  .ladding .text {
    width: 100%;
  }
  .ladding .text .content {
    max-width: 100%;
  }
}
.ladding .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 30px;
}
.ladding .text .content p {
  font-size: 14px;
  line-height: 2;
}
.ladding .change-bachground {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 768px) {
  .ladding .change-bachground {
    display: none;
  }
}
.ladding .fa-angle-left {
  left: 30px;
}
.ladding .fa-angle-right {
  right: 30px;
}
.ladding .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.bullets .active {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
/* End Ladding */
/* Start Services */
.services {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-row-gap: 60px;
    grid-column-gap: 40px;
  }
}
.services .srv {
  display: flex;
}
.services .srv i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .srv i {
    margin: 0 0 30px;
  }
}
.services .srv h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv p {
  color: #777;
  line-height: 2;
}
/* End Services */
/* start design */
.design {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
  height: 600px;
  position: relative;
  background-image: url(../image/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
  overflow: hidden;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparment-color);
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
/* end design */
/* Start portfolio */
.portfolio {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
}
.shuffle {
  display: flex;
  justify-content: center;
}
.shuffle li {
  padding: 10px;
  transform: translateX(-50%);
}
.shuffle .active {
  color: white;
  background-color: var(--main-color);
}
.portfolio .img-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .img-container .box {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.portfolio .img-container .box:hover .caption {
  bottom: 0;
}
.portfolio .img-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .img-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .img-container .box {
    flex-basis: 25%;
  }
}
.img-container .box img {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.img-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.img-container .box .caption h4 {
  font-weight: normal;
  font-size: 10px;
}
.img-container .box .caption p {
  color: var(--main-color);
}
/* End portfolio */
/* Start Video  */
.vid {
  position: relative;
}
.vid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.279);
}
.vid video {
  width: 100%;
}
.vid .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #19c8fa7d;
  padding: 50px;
  color: white;
  text-align: center;
}
.vid .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.vid .text p {
  margin-bottom: 30px;
}
.vid .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video  */
/* Start about */
.about {
  overflow: hidden;
  padding-top: var(--sec-pading);
  text-align: center;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End about */
/* Start Stat */
.stat {
  padding-top: var(--sec-pading);
  text-align: center;
  padding-bottom: var(--sec-pading);
  background-image: url(/image/stats.png);
  background-size: cover;
  position: relative;
}
.stat::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.69);
}
.stat .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stat .container .box {
  color: white;
  padding: 50px;
  background-color: #19c8fa85;
}
@media (max-width: 767px) {
  .stat .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stat .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stat .container .box {
    flex-basis: 25%;
  }
}
.stat .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stat .container .box .num {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
/* End Stat */
/* Start Skill */
.skill {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
}
.skill .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .skill .container > div {
    flex-basis: 45%;
  }
}
.skill .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
}
.skill .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.skill .container .box {
  display: flex;
  margin-bottom: 25px;
}
.skill .container .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .skill .container .box {
    flex-direction: column;
    text-align: center;
  }
  .skill .container .box img {
    margin: 0 auto 20px;
  }
}
.skill .box .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.skill .box .text p {
  color: #777;
  text-align: right;
}
.skill .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.skill .bullets .li {
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #aaa;
}
.bullets .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.skil .prog-holder {
  margin-bottom: 40px;
}
.skil .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.skil .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.skill .prog-holder .prog span {
  height: 100%;
  display: block;
  background-color: var(--main-color);
  position: relative;
}
.skill .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  top: -40px;
  right: -18px;
  color: white;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.skill .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}

/* End Skill */
/* Start Quote */
.quote {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
  background-image: url(/image/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
  text-align: center;
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  position: relative;
  font-size: 20px;
  right: -15px;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  font-weight: normal;
  margin-right: 15px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
}
.pricing .plans .plan ul li:not(:last-child) {
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
/* End Pricing */
/* Start Subscribe  */
.sub {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
  background-image: url(/image/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}
.sub::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}
.sub .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .sub .container {
    flex-direction: column;
  }
}
.sub form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.sub form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.sub form input[type="email"] {
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 20px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  border-right: none;
}
.sub form input[type="submit"] {
  width: 130px;
  border: 1px solid white;
  border-left: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}
.sub form input[type="email"]:focus,
.sub form input[type="submit"]:focus {
  outline: none;
}
.sub form ::placeholder {
  color: white;
  position: absolute;
  left: 60px;
}
.sub p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .sub p {
    margin: 30px 0 0;
  }
}
/* End Subscribe  */
/* Start contact */
.contact {
  padding-top: var(--sec-pading);
  padding-bottom: var(--sec-pading);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  color: white;
  background-color: var(--main-color);
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End contact */
/* Start Footer  */
.footer {
  background-image: url(/image/subscribe.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  color: white;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}
.footer .container {
  position: relative;
  text-align: center;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  padding: 20px;
  margin: 20px auto;
  width: fit-content;
  font-size: 22px;
  border-bottom: 1px solid white;
}

.social-icons i {
  padding: 10px 15px;
}
.copyright {
  margin-top: 60px;
}
.copyright span {
  color: var(--main-color);
  font-weight: bold;
}
